<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Wynbay.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
  <div class="wrapper">


  </div>
    <div class="header">
      <ul id="menu-bar">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Categories</a>
          <ul>
            <li><a href="#">Categories Sub Menu 1</a></li>
            <li><a href="#">Categories Sub Menu 2</a></li>
            <li><a href="#">Categories Sub Menu 3</a></li>
            <li><a href="#">Categories Sub Menu 4</a></li>
          </ul>
        </li>



        <li>
          <%= form_tag search_results_path, method: 'get' do %> <!-- search bar -->
          <%= text_field_tag :search_keywords %>
          <%= submit_tag "Search" %>
          <% end %>
        </li>
        <% if user_signed_in? %>
        <li>
          <%= link_to "New Listing", new_product_path %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
          <% else %>
        </li>
      </li>
      <li><%= link_to "Log In", new_user_session_path %>
      </li>
      <li><%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </li>

    </ul>
  </div>


<%= yield %>

<hr>
<div class="footer">
  <footer>
    <p>Copyright &copy; Wynbay 2016</p>
  </footer>
</div>


</body>
</html>
